@import "tailwindcss";
.weather {
  place-self: center;
  /* background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background-size: 400% 400%; */
  /* animation: gradient 15s ease infinite; */
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  /* padding: 40px; */
  /* border-radius: 10px; */
  /* max-width: 800px; */
  /* width: 100%; */
  /* height: 100%; */
  /* box-shadow: 0px 8px 24px #9ba2b0; */
  /* margin: 0; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%; /*left % = X-axis, Right % = Y-axis*/
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Search bar section*/
.search-bar {
  position: relative;
  /* width: 600px; */
  /* margin: 20px auto; */
  /* gap: 12px; */
}
.search-bar input {
  width: 100%;
  padding: 8px 40px 8px 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 15px;
}

.search-icon {
  position: absolute;
  width: 18px;
  height: auto;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-icon:hover {
  opacity: 0.7;
}

/* GAP 1: Between the two main section */
/* Current weather card section */
.current-weather-card {
  display: flex;
  flex-direction: column; /* Stack top section and hourly forecast vertically */
  /*gap: 60px; Controls space between TOP section and HOURLY section */
  background: white;
  /* padding: 30px; */
  /* border-radius: 20px; */
  /* margin: 20px auto; */
  /* width: 600px;
  max-width: 600px; */
}

/* Current weather top section */
.current-weather-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.temperature {
  /* font-size: 45px; */
  font-weight: bold;
  /* margin: 0; remove default spacing from <p> tag*/
  color: #333;
}
.location {
  /* font-size: 18px; */
  /* margin: 5px, 0, 0, 0; */
  color: #666;
}
.weather-icon {
  opacity: 1;
  /* width: 80px; */
  /* height: auto; */
}

.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}

/* GAP 2: Between hour items */
/* Hourly forecast section */
.hourly-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px;  Space between temp, icon and time */
}

.hourly-temp {
  /* font-size: 18px; */
  /* font-weight: 600; */
  /* margin: 0; */
  color: #333;
}

.hourly-time {
  /* font-size: 18px; */
  /* margin: 0; */
  color: #666;
}

.hourly-icon {
  /* width: 45px; */
  height: auto;
}

/* Outer container for multiple forecast card */
.multiple-forecast-card {
  display: flex;
  flex-direction: column; /* Stack rows vertically*/
  /* gap: 20px;  Spacing between each row */
  background: white;
  /* padding: 30px; */
  /* border-radius: 20px; */
  /* margin: 20px auto; */
  /* max-width: 600px; */
}
/* Each row (one day) */
.forecast-row {
  display: flex;
  align-items: center; /* Center items vertically */
  /* padding: 20px 0; */
  border-bottom: 1px solid #e0e0e0;
  /* gap: 60px;  Add gap between items instead of using justify-content */
}

/* Remove border line for the last row */
.forecast-row:last-child {
  border-bottom: none;
}

.forecast-date {
  /* font-size: 18px; */
  /* font-weight: 500; */
  /* margin: 0; */
  color: #333;
  text-align: left;
  /* width: 120px; */
}

.forecast-humidity {
  /* font-size: 18px; */
  /* font-weight: 500; */
  /* margin: 0; */
  color: #333;
  text-align: center;
  /* width: 80px; */
}

.forecast-temp {
  /* font-size: 18px; */
  /* font-weight: 500; */
  /* margin: 0; */
  color: #333;
  text-align: right;
  /* width: 120px; */
}
/* Weather icon */
.forecast-icon {
  /* width: 45px; */
  /* height: auto; */
  flex-shrink: 0;
}
